{% extends "layout.html" %}

  {% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>10 widgets and libraries every Android Developer should know</h1>
            <br>
            <span class="meta">By
              <a href="#">Ishan Khandelwal</a>
              on June 22, 2020</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <blockquote class="embedly-card"><h4><a href="https://medium.com/@ishan_/10-tools-and-widgets-every-android-developer-should-know-about-1a98c089c54e">10 tools and widgets every Android Developer should know about</a></h4><p>Android development is one of the hottest domains in Computer Science, and holds a bright future for anyone who wants to get into it. The hardest part for beginners is finding compact and useful...</p>
          </blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
      </div>
    </div>
  </article>

  {% endblock %}